$gryffindor-red: #740001;
$gryffindor-yellow: #d3a626;
$hufflepuff-yellow: #edb527;
$hufflepuff-black: #000000;
$ravenclaw-blue: #0e193f;
$ravenclaw-gray: #5d5d5d;
$slytherin-green: #194729;
$slytherin-gray: #aaaaaa;